## Menentukan library yang akan digunakan

In [35]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

## Load dataset

In [36]:
healthcare_stroke = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [37]:
healthcare_stroke.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

## Data Preparation

In [38]:
healthcare_stroke.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

## Drop row with missing value

In [39]:
healthcare_stroke=healthcare_stroke.dropna(axis=0)
healthcare_stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
3420,Male,82,1,0,Yes,Self-employed,Rural,71.97,28.3,never smoked,0
3421,Female,57,0,0,Yes,Private,Rural,77.93,21.7,never smoked,0
3422,Female,81,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
3423,Female,35,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
3424,Male,51,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0

## Label Encoding

In [40]:
encoder = LabelEncoder()

## Looping for columns

In [41]:
for c in healthcare_stroke.columns:
    if(healthcare_stroke[c].dtype=='object'):
        healthcare_stroke[c] = encoder.fit_transform(healthcare_stroke[c])
    else:
        healthcare_stroke[c] = healthcare_stroke[c]
healthcare_stroke.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67,0,1,1,2,1,228.69,36.6,0,1
1,1,80,0,1,1,2,0,105.92,32.5,1,1
2,0,49,0,0,1,2,1,171.23,34.4,2,1
3,0,79,1,0,1,3,0,174.12,24.0,1,1
4,1,81,0,0,1,2,1,186.21,29.0,0,1

## Memisahkan data atribut dengan label

In [42]:
X = healthcare_stroke.drop(columns='stroke', axis = 1)
Y = healthcare_stroke['stroke']

## Memisahkan antara data training dan data testing

In [43]:
X_train, X_test, Y_train, Y_test = train_test_split (X, Y, test_size = 0.25, random_state=0)

## Normalisasi data menggunakan Scaling

In [44]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform (X_test)

## Membuat Model Training

In [45]:
classifier = KNeighborsClassifier()

In [46]:
classifier.fit(X_train, Y_train)

KNeighborsClassifier()

## Evaluasi Model

In [47]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

c:\Users\MERLY\anaconda\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [48]:
print('akurasi data training :', training_data_accuracy)

akurasi data training : 0.948208722741433

In [33]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

c:\Users\MERLY\anaconda\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [34]:
print('akurasi data testing: ', test_data_accuracy)

akurasi data testing:  0.9498249708284714

## Membuat Model Prediksi

In [61]:
input_data = (1, 58, 1,	0, 1, 2, 1,	87.96, 39.2, 1)
input_data_as_numpy_array = np.array(input_data)
input_data_reshape = input_data_as_numpy_array.reshape(1, -1)
prediction = classifier.predict(input_data_reshape)
print(prediction)
if (prediction[0]==1):
    print('Pasien terkena Penyakit Stroke')
else:
    print('Pasien Tidak Terkena Penyakit Stroke')

[0]
Pasien Tidak Terkena Penyakit Stroke

c:\Users\MERLY\anaconda\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

## Simpan Model

In [63]:
import pickle

In [64]:
filename = 'stroke.sav'
pickle.dump(classifier, open(filename, 'wb'))